In [20]:
import pymongo
import pandas as pd
import numpy as np
from pprint import pprint

In [3]:
abi = pymongo.MongoClient("mongodb://Abi123:abcdefgh@cluster0-shard-00-00.blxhr.mongodb.net:27017,cluster0-shard-00-01.blxhr.mongodb.net:27017,cluster0-shard-00-02.blxhr.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-1158iu-shard-0&authSource=admin&retryWrites=true&w=majority")

In [4]:
db = abi["client"]

In [6]:
print(abi.list_database_names())

['Abi', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'tesla', 'admin', 'local']

In [7]:
data = db["directory"]

In [8]:
records = [{"Name":"Mason Mount","Phone number":4567893458,"Place":"London"},{"Name":"Antonio Rudiger","Phone number":6467234578,"Place":"Frankfurt"},{"Name":"Thiago Silva","Phone number":3578390325,"Place":"Sao Paulo"},{"Name":"Ben Chilwell","Phone number":4167389412,"Place":"Leicester"},{"Name":"Saul Niguez","Phone number":3789429475,"Place":"Madrid"},{"Name":"Kai Havertz","Phone number":4920532084,"Place":"Munich"},{"Name":"Timo Werner","Phone number":4365432676,"Place":"Stutgart"},{"Name":"Romelu Lukaku","Phone number":6403256842,"Place":"Brussles"},{"Name":"Christian Pulisic","Phone number":4839053245,"Place":"Iowa"},{"Name":"Phil Foden","Phone number":5839535693,"Place":"Manchester"}]

In [9]:
data.insert_many(records)

In [10]:
print(abi.list_database_names())

['Abi', 'client', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'tesla', 'admin', 'local']

In [11]:
print(db.list_collection_names())

['directory']

In [12]:
records2 = [{"Name":"Kylian Mbappe","Phone number":6593456098,"Place":"Paris"},{"Name":"Federico Chiesa","Phone number":9039402453,"Place":"Turin"},{"Name":"Takumi Minamino","Phone number":2345678543,"Place":"Tokyo"},{"Name":"Harvey Elliot","Phone number":5893045692,"Place":"Liverpool"},{"Name":"Matteo Kovacic","Phone number":3942459214,"Place":"Zagreb"}]

In [13]:
data.insert_many(records2)

In [14]:
db

Database(MongoClient(host=['cluster0-shard-00-02.blxhr.mongodb.net:27017', 'cluster0-shard-00-00.blxhr.mongodb.net:27017', 'cluster0-shard-00-01.blxhr.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-1158iu-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'client')

In [15]:
db["directory"]

Collection(Database(MongoClient(host=['cluster0-shard-00-02.blxhr.mongodb.net:27017', 'cluster0-shard-00-00.blxhr.mongodb.net:27017', 'cluster0-shard-00-01.blxhr.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-1158iu-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'client'), 'directory')

In [16]:
col = db["directory"]

In [23]:
sample = []
for i in col.find():
  sample.append(i)

In [24]:
df = pd.DataFrame(sample)
df

                         _id               Name  Phone number       Place
0   62208805ed86c15b58cea997        Mason Mount    4567893458      London
1   62208805ed86c15b58cea998    Antonio Rudiger    6467234578   Frankfurt
2   62208805ed86c15b58cea999       Thiago Silva    3578390325   Sao Paulo
3   62208805ed86c15b58cea99a       Ben Chilwell    4167389412   Leicester
4   62208805ed86c15b58cea99b        Saul Niguez    3789429475      Madrid
5   62208805ed86c15b58cea99c        Kai Havertz    4920532084      Munich
6   62208805ed86c15b58cea99d        Timo Werner    4365432676    Stutgart
7   62208805ed86c15b58cea99e      Romelu Lukaku    6403256842    Brussles
8   62208805ed86c15b58cea99f  Christian Pulisic    4839053245        Iowa
9   62208805ed86c15b58cea9a0         Phil Foden    5839535693  Manchester
10  62209037ed86c15b58cea9a1      Kylian Mbappe    6593456098       Paris
11  62209037ed86c15b58cea9a2    Federico Chiesa    9039402453       Turin
12  62209037ed86c15b58cea9a3    Takumi Minamino    2345678543       Tokyo
13  62209037ed86c15b58cea9a4      Harvey Elliot    5893045692   Liverpool
14  62209037ed86c15b58cea9a5     Matteo Kovacic    3942459214      Zagreb

In [27]:
data.update_one({"Name": "Mason Mount"},{"$set":{"Name":"Reece James"}})

In [28]:
sample = []
for i in col.find():
  sample.append(i)

In [29]:
sample

[{'Name': 'Reece James',
  'Phone number': 4567893458,
  'Place': 'London',
  '_id': ObjectId('62208805ed86c15b58cea997')},
 {'Name': 'Antonio Rudiger',
  'Phone number': 6467234578,
  'Place': 'Frankfurt',
  '_id': ObjectId('62208805ed86c15b58cea998')},
 {'Name': 'Thiago Silva',
  'Phone number': 3578390325,
  'Place': 'Sao Paulo',
  '_id': ObjectId('62208805ed86c15b58cea999')},
 {'Name': 'Ben Chilwell',
  'Phone number': 4167389412,
  'Place': 'Leicester',
  '_id': ObjectId('62208805ed86c15b58cea99a')},
 {'Name': 'Saul Niguez',
  'Phone number': 3789429475,
  'Place': 'Madrid',
  '_id': ObjectId('62208805ed86c15b58cea99b')},
 {'Name': 'Kai Havertz',
  'Phone number': 4920532084,
  'Place': 'Munich',
  '_id': ObjectId('62208805ed86c15b58cea99c')},
 {'Name': 'Timo Werner',
  'Phone number': 4365432676,
  'Place': 'Stutgart',
  '_id': ObjectId('62208805ed86c15b58cea99d')},
 {'Name': 'Romelu Lukaku',
  'Phone number': 6403256842,
  'Place': 'Brussles',
  '_id': ObjectId('62208805ed86c15b58cea99e')},
 {'Name': 'Christian Pulisic',
  'Phone number': 4839053245,
  'Place': 'Iowa',
  '_id': ObjectId('62208805ed86c15b58cea99f')},
 {'Name': 'Phil Foden',
  'Phone number': 5839535693,
  'Place': 'Manchester',
  '_id': ObjectId('62208805ed86c15b58cea9a0')},
 {'Name': 'Kylian Mbappe',
  'Phone number': 6593456098,
  'Place': 'Paris',
  '_id': ObjectId('62209037ed86c15b58cea9a1')},
 {'Name': 'Federico Chiesa',
  'Phone number': 9039402453,
  'Place': 'Turin',
  '_id': ObjectId('62209037ed86c15b58cea9a2')},
 {'Name': 'Takumi Minamino',
  'Phone number': 2345678543,
  'Place': 'Tokyo',
  '_id': ObjectId('62209037ed86c15b58cea9a3')},
 {'Name': 'Harvey Elliot',
  'Phone number': 5893045692,
  'Place': 'Liverpool',
  '_id': ObjectId('62209037ed86c15b58cea9a4')},
 {'Name': 'Matteo Kovacic',
  'Phone number': 3942459214,
  'Place': 'Zagreb',
  '_id': ObjectId('62209037ed86c15b58cea9a5')}]

In [31]:
df = pd.DataFrame(sample)
df

                         _id               Name  Phone number       Place
0   62208805ed86c15b58cea997        Reece James    4567893458      London
1   62208805ed86c15b58cea998    Antonio Rudiger    6467234578   Frankfurt
2   62208805ed86c15b58cea999       Thiago Silva    3578390325   Sao Paulo
3   62208805ed86c15b58cea99a       Ben Chilwell    4167389412   Leicester
4   62208805ed86c15b58cea99b        Saul Niguez    3789429475      Madrid
5   62208805ed86c15b58cea99c        Kai Havertz    4920532084      Munich
6   62208805ed86c15b58cea99d        Timo Werner    4365432676    Stutgart
7   62208805ed86c15b58cea99e      Romelu Lukaku    6403256842    Brussles
8   62208805ed86c15b58cea99f  Christian Pulisic    4839053245        Iowa
9   62208805ed86c15b58cea9a0         Phil Foden    5839535693  Manchester
10  62209037ed86c15b58cea9a1      Kylian Mbappe    6593456098       Paris
11  62209037ed86c15b58cea9a2    Federico Chiesa    9039402453       Turin
12  62209037ed86c15b58cea9a3    Takumi Minamino    2345678543       Tokyo
13  62209037ed86c15b58cea9a4      Harvey Elliot    5893045692   Liverpool
14  62209037ed86c15b58cea9a5     Matteo Kovacic    3942459214      Zagreb

In [32]:
data.delete_one({"Name":"Romelu Lukaku"})

In [33]:
sample = []
for i in col.find():
  sample.append(i)

In [34]:
sample

[{'Name': 'Reece James',
  'Phone number': 4567893458,
  'Place': 'London',
  '_id': ObjectId('62208805ed86c15b58cea997')},
 {'Name': 'Antonio Rudiger',
  'Phone number': 6467234578,
  'Place': 'Frankfurt',
  '_id': ObjectId('62208805ed86c15b58cea998')},
 {'Name': 'Thiago Silva',
  'Phone number': 3578390325,
  'Place': 'Sao Paulo',
  '_id': ObjectId('62208805ed86c15b58cea999')},
 {'Name': 'Ben Chilwell',
  'Phone number': 4167389412,
  'Place': 'Leicester',
  '_id': ObjectId('62208805ed86c15b58cea99a')},
 {'Name': 'Saul Niguez',
  'Phone number': 3789429475,
  'Place': 'Madrid',
  '_id': ObjectId('62208805ed86c15b58cea99b')},
 {'Name': 'Kai Havertz',
  'Phone number': 4920532084,
  'Place': 'Munich',
  '_id': ObjectId('62208805ed86c15b58cea99c')},
 {'Name': 'Timo Werner',
  'Phone number': 4365432676,
  'Place': 'Stutgart',
  '_id': ObjectId('62208805ed86c15b58cea99d')},
 {'Name': 'Christian Pulisic',
  'Phone number': 4839053245,
  'Place': 'Iowa',
  '_id': ObjectId('62208805ed86c15b58cea99f')},
 {'Name': 'Phil Foden',
  'Phone number': 5839535693,
  'Place': 'Manchester',
  '_id': ObjectId('62208805ed86c15b58cea9a0')},
 {'Name': 'Kylian Mbappe',
  'Phone number': 6593456098,
  'Place': 'Paris',
  '_id': ObjectId('62209037ed86c15b58cea9a1')},
 {'Name': 'Federico Chiesa',
  'Phone number': 9039402453,
  'Place': 'Turin',
  '_id': ObjectId('62209037ed86c15b58cea9a2')},
 {'Name': 'Takumi Minamino',
  'Phone number': 2345678543,
  'Place': 'Tokyo',
  '_id': ObjectId('62209037ed86c15b58cea9a3')},
 {'Name': 'Harvey Elliot',
  'Phone number': 5893045692,
  'Place': 'Liverpool',
  '_id': ObjectId('62209037ed86c15b58cea9a4')},
 {'Name': 'Matteo Kovacic',
  'Phone number': 3942459214,
  'Place': 'Zagreb',
  '_id': ObjectId('62209037ed86c15b58cea9a5')}]

In [35]:
df = pd.DataFrame(sample)
df

                         _id               Name  Phone number       Place
0   62208805ed86c15b58cea997        Reece James    4567893458      London
1   62208805ed86c15b58cea998    Antonio Rudiger    6467234578   Frankfurt
2   62208805ed86c15b58cea999       Thiago Silva    3578390325   Sao Paulo
3   62208805ed86c15b58cea99a       Ben Chilwell    4167389412   Leicester
4   62208805ed86c15b58cea99b        Saul Niguez    3789429475      Madrid
5   62208805ed86c15b58cea99c        Kai Havertz    4920532084      Munich
6   62208805ed86c15b58cea99d        Timo Werner    4365432676    Stutgart
7   62208805ed86c15b58cea99f  Christian Pulisic    4839053245        Iowa
8   62208805ed86c15b58cea9a0         Phil Foden    5839535693  Manchester
9   62209037ed86c15b58cea9a1      Kylian Mbappe    6593456098       Paris
10  62209037ed86c15b58cea9a2    Federico Chiesa    9039402453       Turin
11  62209037ed86c15b58cea9a3    Takumi Minamino    2345678543       Tokyo
12  62209037ed86c15b58cea9a4      Harvey Elliot    5893045692   Liverpool
13  62209037ed86c15b58cea9a5     Matteo Kovacic    3942459214      Zagreb